*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    display:flex;
    width:100%;
    height:800px;
    background-color: #217566;
    position:relative;
 background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url(img/Layer_2.png),url(img/Layer_4.png),url(img/Layer_6.png);
     background-blend-mode: multiply;
    flex-direction: column;
    justify-content:space-between;
}
.top-header{
    width:100%;
    height:70px;
 background:#101636;
opacity: 0.8;
    padding-top:24px;
    padding-bottom:19px;
}
.top-header-container{
    width:80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;   
    
}


.title{
    display:flex;
    width:250px;
    justify-content: space-between;
    height:27px;
    margin:0;
    align-items: center;
    padding:0;
    
    
}
.title .tit{
color:white;
font-family: Pacifico;
font-size: 27px;
font-weight: 400;
    
letter-spacing: 1.4px;
}
.title span{
    color: #32b0ee;
font-size: 20px;
letter-spacing: 0.8px;
       opacity:1;
}
.title .anime{

opacity: 0.3;
color: #ffffff;
font-family: "Open Sans";
font-size: 13px;
  /*   padding-top:8px; */ 
font-weight: 300;
    letter-spacing: 0.65px;
       opacity:1;
    display:flex;
    width:130px;
    justify-content: space-between;
 
}
.title .anime p{
       animation: animate 1.6s linear infinite;
}
@keyframes animate{
    50%{
        color:red;
    }
    100%{
        color:white;
    }
    
}
.title .anime p:nth-child(1){
    animation-delay: .4s;
}
.title .anime p:nth-child(2){
    animation-delay: .8s;
}
.title .anime p:nth-child(3){
    animation-delay: 1.2s;
}
.title .anime p:nth-child(4){
    animation-delay: 1.6s;
}
.nav-container{
   width:355px;
    
}
.nav-container ul{
display:flex;
   
}
.nav-container ul li {
    flex:1;
    list-style: none;
 /*  display:flex; 
  
    justify-content: space-between; */
   text-align: center;
}
.nav-container ul li a{
    
    text-decoration: none;
color: #ffffff;
     opacity:1;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
letter-spacing: 0.65px;
    
}
.nav-container ul li a::after{
    content: '';
    width:0;
    height:2px;
    display:block;
    background-color:#fff;
    transition: width .3s;
}
.nav-container ul li a:hover::after{
    width:100%;
    transition: width .3s;
}

/* Dots */
.dots .two{
    width: 8px;
height: 8px;
border: 1px solid #ffffff;
background-color: #ffffff;
opacity: 0.2;
    border-radius:50%;
    
}
.dots{
    height:55px;
    width:8px;
  
    flex-direction: column;
    display:flex;
    justify-content: space-between;
    position:absolute;
    right:48px;
    top:373px;
}
.dots .one{
        width: 8px;
height: 8px;
border: 1px solid #ffffff;
background-color: #ffffff;
    border-radius:50%;
}


/*  */

.header-content{
 
display:flex;
    flex-direction: column;
    margin:0 auto;

    
}
.header-content-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
}
.header-content-main h2{
    /* Style for "Meet Brand" */
color: #ffffff;
font-size: 62px;
font-family: "Open Sans Light";
font-weight: 300;

}
.header-content-main h2 strong{
    font-family: "Open Sans";
font-weight: 700;
}
.first{
opacity: 0.9;
color: #ffffff;
font-family: "Open Sans";
font-size: 48px;
    margin:0 auto;
font-weight: 300;

}
.first .first-second{
    color: #0feb9e;
}
.second{
opacity: 0.9;
color: #fff;
font-family: "Open Sans";
font-size: 18px;
font-weight: 300;
    display:flex;
    align-items: center;
}
.second .kreska{
    width: 28px;
height: 1px;
    font-size:1px;
background-color: #0feb9e;
margin:20px;
}
.header-social{
    display:flex;
    width:115px;
    margin:auto;
    justify-content: space-between;
    height:20px;
    margin-top:110px;
    margin-bottom:50px;
}
.header-social span img:hover{
    cursor: pointer;
    opacity:2;
    color:white;
    
}

/*  */



/* features
 */




.features{
    width:100%;
    min-height: 468px;
    background-color: #f4f7f9;
}
.features-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    /* margin:auto; */
     flex-wrap:wrap;
        background-color: #f4f7f9;
    

}
.features-title{
   
    width:230px;
    height:60px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:77px auto 64px auto;
}

.features h3{
color: #0eb493;
font-family: "Open Sans - Extrabold";
font-size: 28px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: -0.56px;
/*     margin:70px auto 0 auto; */
    margin:0 auto;
}
.icon{
    width:230px;
    display:flex;
  margin:25px auto 0 auto; 
    justify-content: space-around;
    
}
.icon img{
    width: 18px;
height: 14px;
opacity: 0.7;
}
.icon .kreska-serce{
    width: 90px;
height: 1px;
background-color: #062033;
opacity: 0.4;
    margin:6px 0 6px 0;
}
.features-container-main{
 /*    width:1160px; */
    width:100%;
    display:flex;
    margin:0 auto;
    justify-content: space-around;
   
 
}

.features-container-main-content{
    width:360px;
    height:120px;
    display:flex;
}
.content-title{
    display:flex;
  
}
.content-title img{
    width: 14px;
height: 20px;

}
.content-text{
    display:flex;
    justify-content: space-between;
    margin-left:16px;
    flex-direction: column;
}
.content-text h4{
color: #062033;
font-family: "Open Sans - Semibold";
font-size: 20px;
font-weight: 400;
}
.content-text p{

opacity: 0.7;
color: #062033;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
line-height: 21px;
}
.test{
    width: 40px;
height: 40px;
border: 1px solid #898989;
       padding:10px 12px 10px 14px;
    border-radius:60%;
    
}
.pencil img{
    width:16px;
    height:16px;
}
.pencil{
       width: 40px;
height: 40px;
border: 1px solid #898989;
       padding:12px 12px;
    border-radius:50%;
}
.megaphone img{
    width:18px;
    height:19px;
}
.megaphone{
       width: 40px;
height: 40px;
border: 1px solid #898989;
       padding:10px 10px 11px 12px;
    border-radius:50%;
}

.dots-two{
    width:55px;
    height:8px;
    display:flex;
    margin: 80px auto 54px auto;

    justify-content: space-between;
}
.dots-two .one{
    width: 8px;
height: 8px;
background-color: #062033;
    border-radius:50%;
    
}
.dots-two .two{
width: 8px;
height: 8px;
border: 1px solid #062033;
background-color: #ffffff;
opacity: 0.6;
    border-radius:50%;
}
/* works */
.works{
    width:100%;
    height:950px;
    margin:0 auto;
}
.works-header{
    width:100%;
    height:350px;
    display:flex;
    margin:0 auto;
    
}
.works-header-title{
    width:100%;
display:flex;
    margin:0 auto;
    flex-direction: column;
}

.works-header-title h3{
color: #0eb493;
font-family: "Open Sans - Extrabold";
font-size: 28px;
font-weight: 400;
text-transform: uppercase;

letter-spacing: -0.56px;
    margin:100px auto 0 auto; 
}
.works-header-title p{
opacity: 0.8;
color: #062033;
font-family: "Open Sans - Semibold";
font-size: 18px;
font-weight: 400;
line-height: 24px;
    width:70%;
    margin:0 auto;
    text-align: center;
}
.buttons{
    width:500px;
    height:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:45px auto 35px auto;
}
.buttons a{
text-decoration: none;
color: #062033;
font-family: "Open Sans";
font-size: 14px;
font-weight: 700;
    text-align: center;
}
.buttons .active{

width: 57px;
height: 30px;
    padding-top:5px;
background-color: #0eb493;
    text-align: center;
    color:#fff;
    border-radius:14%;
}
.works-icon{
    margin:25px auto 35px auto;
} 


/*  works img @*/
.works-img{
    display:none;
}
.works-img-normal{
    width:100%;
    height:600px;
    margin:0;
    padding:0;
    display:flex;
   
}
.container-zdj{
    flex:1;
    display:flex;
    box-sizing:border-box;
    flex-direction: column;
}
.pierwsza{
    flex:1;
    display:flex;
    flex-direction: row;
}
.druga{
    flex:1;
    display:flex;
    flex-direction: row;
}
.lo {
    flex:1;
    display:flex;
    flex-direction: row;
}
.lo img{
    width:100%;
    height:300px;
}
.img-content{
    position:relative;
} 
.img-content-main{
     transition:4s ease-in-out;
    position:absolute;
    display:none;
    flex-direction: column;
    margin:auto;
    width:100%;
    height:100%;
  background-color: #0eb493;
opacity: 0.9;
}
.img-content-main-text{
    display:flex;
    margin:auto;
    flex-direction: column;
}
.img-content-main .img-content-main-text h3{
    /* Style for "Labore et" */

color: #ffffff;
font-family: "Open Sans";
font-size: 18px;
font-weight: 700;
line-height: 24px;
    margin:30px auto 0 auto;

}
.img-content-main .img-content-main-text p{
    font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
    margin:10px auto;
    color:#fff;
}
.img-content-main .img-content-main-text img{
    width:40px;
    height:40px;
    margin:0 auto;
}

.img-content:hover .img-content-main{
    transition:4s ease-in-out;
    display:flex;
}

/*  TEAAAMMM*/
.team{
    width:100%;
    height:950px;
    display:flex;
    margin:10px auto;
    flex-direction: column;
}
.team .team-title{
    margin:100px auto 0 auto;
}
.team .team-title h3{
color: #0eb493;
font-family: "Open Sans - Extrabold";
font-size: 28px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: -0.56px;
    text-align: center;
}
.team .team-title .icon{
    margin-top:25px;
}

.team .team-title p{
    max-width: 929px;
opacity: 0.8;
color: #062033;
font-family: "Open Sans - Semibold";
font-size: 18px;
font-weight: 400;
line-height: 24px;
    text-align: center;
    margin:30px 15px 100px 15px;
}
.team-people{
   width:90%;
  /*   max-width:1170px; */
    height:370px;
    margin:0 auto 0 auto; 
    display:flex;
    justify-content:space-between;
    box-sizing: border-box;
}
.first-two{
    flex:1;
    display:flex;
    justify-content: space-around; 
     
}
.second-two{
    flex:1;
     display:flex;
    justify-content: space-around; 

}
.all{
    width:270px;
    height:370px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;

    
} 
.all .people-img{
    width:100%;
    height:300px;
}
.people-one .people-img{

    background:url(img/team-1.png);
}
.people-two .people-img{

    background:url(img/team2.png);
}
.people-three .people-img{
  
    background:url(img/team3.png);
}
.people-four .people-img{

    background:url(img/team4.png);
}
.all .people-text{
    margin:0 auto;
}
.all .people-text h5{
color: #062033;
font-family: "Open Sans - Semibold";
font-size: 18px;
font-weight: 400;
line-height: 24px;
    margin:0 auto;
}
.all .people-text h5:hover{
    color: #0eb493;
    cursor:pointer;
}
.all .people-text p{
margin-top:12px;
opacity: 0.56;
color: #062033;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
line-height: 24px;
     margin:0 auto;
    text-align: center;
}
.people-img{
   
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
.container-hover p,h3{
    color:#fff;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
text-align: center;
    padding:10px;
}
}

.people-img p{
    margin-top:20px;
}
.people-social{
    width:135px;
    height:42px;
    margin:45px auto 0 auto;
    
}
.people-social img{
    cursor:pointer;
}
.container-hover{
    display:none;
    width:100%;
    height:100%;
    padding:15px;
}
.people-img:hover .container-hover{
    display:block;
    background-color: #0eb493;
opacity: 0.95;
}
@media screen and (max-width:1300px){
    .team-people{
        width:90%;
   height:780px;
        justify-content:space-between;
        flex-direction: column;
    }
    .team{
        height: 100%;
    }
}


/* fun facts */

.fun-facts{
    width:100%;
    height:600px;
    background-image:url(img/black-background.png),url(img/back1.png);
    animation:anime 10s infinite;
  
    background-size:cover;
background-color: #062033;

    display:flex;
    flex-direction: column;
}
@keyframes anime{
    50%{
        background-image:url(img/black-background.png),url(img/back2.png);
          background-size:cover;
    }
    100%{
   
         background-image:url(img/black-background.png),url(img/back1.png);
         background-size:cover;
    }
}
.fun-facts .fun-title{
    width:230px;
    height:60px;
    margin:100px auto 40px auto;
}
.fun-facts .fun-title h4{
   
color: #0eb493;
font-family: "Open Sans - Extrabold";
font-size: 28px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: -0.56px;
    text-align: center;
}
.fun-facts .icon img{
    width: 18px;
height: 14px;
color:#fff;
opacity:1;
}
.fun-facts .icon .kreska-serce{
    width: 90px;
height: 2px;
background-color: #ffffff;
color:#fff;
    margin:6px 0 6px 0;
}
.fun-images{
    width:1040px;
    height:260px;
 
    margin:0 auto;
    display:flex;
    flex-direction: row;
}

.fun-one{
    flex:1;
    display:flex;
        justify-content: space-around;
}
.fun-two{
    flex:1;
    display:flex;
    justify-content: space-around;
}
.fun-box{
    width:160px;
    height:260px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.xo{
    width:180px;
}
.fun-box .fun-img{
    margin:0 auto;
}
.fun-box .fun-text h2{
    text-align: center;
color: #ffffff;
font-family: "Open Sans - Semibold";
font-size: 60px;
font-weight: 400;
}
.fun-box .fun-text p{
color: #ffffff;
font-family: "Open Sans";
font-size: 18px;
font-weight: 400;
text-transform: uppercase;
    text-align: center;
}

/* lets */
/*  */
.lets{
    width:100%;
    height:755px;
    margin-top:100px;

    display:flex;
    flex-direction: column;
    
}
.lets-title h3{
color: #0eb493;
font-family: "Open Sans - Extrabold";
font-size: 28px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: -0.56px;
}
.lets-text p{
    
    text-align: center;
    margin:30px 15px 0 15px;
}
.lets-container{
    width:1150px;
    height:260px;
    margin:80px auto 90px auto;
    display:flex;
    justify-content: space-between;
}
.lets-container .lets-container-text{
    width:250px;
    height:210px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.lets-container-text h4{
    color: #062033;
font-size: 22px;
line-height: 32px;
}
.lets-container-text .lets-container-info p{
    color: #6a737b;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
}
.lets-form{
    width:780px;
    height:240px;
   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.lets-form h5{
    color: #062033;
font-family: "Open Sans";
font-size: 24px;
font-weight: 700;
line-height: 24px;
}
.first-form{
    width:100%;
    height:35px;
    display:flex;
    justify-content: space-between;
}
.form-one{
    width:370px;
  
}
.form-two{
    width:370px;
    
    
}
.second-form{
    width:100%;
    height:35px;
    
}
.message{
    width:100%;
    height:20px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.message img{
    width: 23px;
height: 16px;

}
.message p{
    color: #000000;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px;
    margin-left:12px;
    cursor: pointer;
}
.lets-social{
    width:30px;
    height:200px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.lets-social img{
    width: 26px;
height: 23px;
color: #062033;
opacity: 0.6;
}
.lets-social img:hover{
    cursor: pointer;
    color:black;
    opacity:1;
}
.input{
    padding-bottom: 10px;
    width:100%;
    background:none;
    border:none;
    border-bottom:1px solid black;
opacity: 0.6;
}
.map{
    width:100%;
    height:220px;
    border-bottom: 5px solid black;
}
.map img{
    width:100%;
    height:100%;
}
/* footer */
.footer{
    width:100%;
    height:405px;
    display:flex;
    background-color: #21b697;
opacity: 0.9;
    flex-direction: column;
    
}
.footer-first{
    width:255px;
    height:180px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top:15px;
}
.footer-first h2{
    color: #ffffff;
font-family: Pacifico;
font-size: 28px;
font-weight: 400;
letter-spacing: 1.4px;
    text-align: left;
}
.footer-first p{
    color: #ffffff;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
line-height: 24px;
}
.footer-two{
    width:240px;
    height:170px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:15px;
}
.footer-two h2{
    opacity: 0.8;
color: #ffffff;
font-family: "Open Sans";
font-size: 14px;
font-weight: 700;
line-height: 24px;
}
.footer-two-container{
    display:flex;
    width:100%;
    height:110px;
    justify-content: space-between;
    
}
.footer-two-container p{
    color: #ffffff;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
line-height: 32px;
}
.io{
    width:110px;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-first-column{
    flex:1;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:60%;
}
.footer-three{
    flex:1;
    display:flex;
    margin:30px auto 0 auto;
    
}
.footer-three p{
    margin:15px auto;
    text-align: center;
    font-size:25px;
    color:#fff;
}
.footer-three strong{
    color:black;
    font-size:30px;
}

@media screen and (max-width:900px){
    .footer{
        height:100%;
        
    }
    .footer-first-column{
        flex-direction: column;
        
    }
    .footer-first{
        margin:auto;
    }
    .footer-two{
        margin:15px auto 10px auto;
    }
}


@media screen and (max-width:1080px){
    .fun-images{
        height:540px;
        flex-direction: column;
        width:100%;
        margin:0;
    }
    .fun-facts{
        height: 800px;
    }
}
@media screen and (max-width:1240px){
    .features-container-main{
        flex-direction: column;
    }
  /*   .features{
        min-height: 400px;
    } */
    .features-container{
        /* flex-direction: column; */
        
        flex-direction: row;
    }
    .features-container-main-content{
        margin:auto;
    }
    .features-container-main-content{
        margin-top:30px;
        height:100%;
    
    }
    
   
}

@media screen and (max-width:1180px){
    .lets-container{
        flex-wrap: wrap;
        width:100%;
        height:100%;
        justify-content:space-between;
        
    }
    .lets-form{
        order:1;
        width:100%;
        margin-top:30px;
        
    }
    .lets-container-text{
        margin:0 auto;
    }
    .lets-social{
        justify-content:space-between;
    }
    .lets{
        height:100%;
    }
}
@media screen and (max-width:780px){
    .first-form{
        height:90px;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .form-one{
        width:90%;
        height:35px;
        margin:0 auto;
        
    }
    .form-two{
        width:90%;
        height:35px;
        margin:0 auto;
    }
    .lets{
        height:100%;
    }
    .lets-container{
        height:100%;
    }
}
@media screen and (max-width:1000px){
    .works{
        height:100%;
    }
    .works-img-normal{
        height:1200px;
        margin-top:30px;
        
    }
    .pierwsza{
        flex-direction: column;
    }
    .druga{
        flex-direction: column;
    }
    .img-content{
        flex:1;
    }
}
@media screen and (max-width:800px){
    .top-header{
        height:100px;
        width:100%;
        
    }
    .top-header-container{
        width:100%;
        display:flex;
             flex-direction: column;
        margin:auto;
        align-items: center;
    }
    .title{
        flex:1;
        margin:auto;
     
    }
    .nav-container{
        margin-top:15px;
           max-width:100%;
    }
    .header-content-main h2{
        font-size:50px;
    }
    .first{
        font-size:30px;
    }
}
@media screen and (max-width:650px){
    .first-two{
        flex-direction: column;
        margin:auto;
    }
    .second-two{
        flex-direction: column;
        margin:auto;
    }
    .team-people{
        height:1560px;
    }
    
}
@media screen and (max-width:400px){
    .first{
        font-size:20px;
        padding:10px 0;
    }
    .header-content-main h2{
        font-size:30px;
    }
    .second .kreska{
        margin:10px;
    }
    .header-content-main{
        padding:50px 0;
    }
}
@media screen and (max-width:320px){
    .second .kreska{
        margin:5px;
    }
    .second{
        font-size:14px;
    }
    .buttons a{
        font-size:13px;
    }
    .buttons .active{

width: 47px;
height: 25px;
    }
}
@media screen and (max-width:380px){
    .features-container-main-content{
        width:100%;
        height:100%;
    }
}
@media screen and (max-width:540px){
    .buttons{
        width:100%;
    }
    .works-header{
        min-height: 500px;
    }
    .works-img-normal{
        display:none;
    }
 .works-img{
    width:100%;
    height:400px;
    display:flex;
     flex-direction: column;
}
    .works-img img {
        width:100%;
        height:100%;
    }
    .works-img ul{
        margin:0;
        padding:0;
        position:relative;
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: flex-end;
          background-color: #f4f7f9;
    }
    .works-img ul li{
        list-style: none;
    }
    .works-img ul li .slide{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        transition:transform 0.5s;
        transform:rotateY(90deg);
        transform-origin: left;
    }
    .works-img ul li .slide:hover .img-content-main{
        display: flex;
    }
 
    ul li input[type="radio"]{
        position:relative;
      /*   z-index: 1; */
        display:none;
    

     
    }
    ul li input[type="radio"]:checked ~ .slide{
           transition:transform 0.5s;
        transform:rotateY(0deg);
        transform-origin: right;
    }
    form{
        display:flex;
        margin-top:15px;
        justify-content: space-between;
         border: 2px solid white;
    }
    label {
  color: lighten($bg,40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
        text-align: center;
        flex:1;
        background-color:#0eb493;
        border-radius: 15%;
          border-left: 2px solid white; 
        padding:5px;
        

}
}